<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>

    </style>
    <link rel="stylesheet" href="/styles/portfilio.css">
</head>
<body>
    <h1>Edit Portfolio Item</h1>
    <form action="/update_post" method="post"  enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" value="<%=portfolioItem[0]['title']%>" required>
        <textarea name="description" placeholder="Description" required><%=portfolioItem[0]['description']%></textarea>
        <label for="images">Choose three images:</label>
        <input type="hidden" value="<%=portfolioItem[0]['_id']%>" >
        <input type="file" name="images" id="images" multiple required><br><br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>